@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
* {
	hyphens: auto;
	font-kerning: normal;
	hanging-punctuation: first force-end last;
}
html {
	font-size: 15px;
}
body {
	font-family: 'Source Sans Pro', sans-serif !important;
}